<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

		<style>
			body {
				padding: 30px;
			}
			.container {
				margin-top: 100px;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<h1>Queens Public Library</h1>
			<h2>Culture Bridge Platform</h2>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<h3>Welcome to the Culture Bridge Platform!</h3>
				<h4>We offer ways to connect people to their community and share their culture</h4>
			</div>
			<div class="row justify-content-center" id="attend-event">

			</div>
		</div>
	</body>
</html>
